<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Restaurante</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<h:outputStylesheet library="css" name="style.css" />
		<h:outputScript name="calendario_pt_BR.js" library="js" /> 
		<h:outputScript library="js" name="jquery.maskMoney.js" rendered="true"/>

	</h:head>
	<h:body>
	
		<header class="head">
					<table>
						<tr>
							<td><h:graphicImage library="img" name="logo.png" width="150" height="150"/></td>
							<td>
								<table>
									<tr>
										<td><h1>Cantina de Mos Eisley</h1></td>
									</tr>
									<tr>
										<td><h:graphicImage library="img" name="moseisley.png" width="388" height="100" /></td>
									</tr>
								</table>
							</td>
						</tr>				
					</table>
		</header>
		
		<aside class = "menu_gerente">
				<h3>Olá Han Solo!</h3>
				<h4>O que deseja fazer?</h4>
				<table>
					<tr>
						<td><h3>Gerencia de Cardápio</h3></td>
					</tr>
					<tr>
						<td><a href="cardapio.jsf">Cardápio</a></td>
					</tr>
					<tr>
						<td><a href="cadastroProduto.jsf">Cadastrar Produto</a></td>
					</tr>
					<tr>
						<td><h3>Gerenciar Comandas</h3></td>
					</tr>
					<tr>				
						<td><a href="listaComandasAtivas.jsf">Comandas Ativas</a></td>
					</tr>
					<tr>

						<td><details>
								<summary>Gerenciar Pessoal</summary>
								<table>
									<tr><td><a href="listarFuncionarios.jsf">Listar Funcionários</a></td></tr>
									<tr><td><a href="cadastrarFuncionario.jsf">Novo Funcionario</a></td></tr>
								</table>
							</details>
						</td>

						<td><a href="listaComandasInativas.jsf">Comandas Inativas</a></td>

					</tr>
					<tr>
						<td><h3>Gerenciar Pedidos</h3></td>
					</tr>
					<tr>				
						<td><a href="listaPedidos.jsf">Listar Pedidos</a></td>
					</tr>
					<tr>
						<td><h3>Gerenciar Pessoal</h3></td>
					</tr>
					<tr>
						<td><a href="listarQuadroHorarios.jsf">Listar Quadro de Horários</a></td>
					</tr>
					<tr>
						<td><a href="cadastroQuadroHorario.jsf">Cadastrar Quadro de Horários</a></td>
					</tr>
					<tr>
						<td><a href="cadastrarFuncionario.jsf">Listar Funcionarios</a></td>
					</tr>
					<tr>
						<td><a href="cadastrarFuncionario.jsf">Novo Funcionario</a></td>
					</tr>
				</table>
			</aside>
		
		<aside class = "login">
				<form>
					<table>
						<tr><td><h1>Perfil</h1></td></tr> <br/>
						<tr><td><p:graphicImage library="img" name="han.jpg" alt="han solo" width="130" height="160"/></td></tr>
						<tr><td><b>Nome:</b> Han Solo</td></tr>
						<tr><td><b>Função:</b> Gerente</td></tr>
						<tr><td><b>Turno:</b> Diurno</td></tr>
						<tr><td><b>Entrada:</b> 05:00</td></tr>
						<tr><td><b>Saida:</b> 00:00</td></tr>
						
						<tr><td><p:button target="index.xhtml" value="Logout"/></td></tr>
					</table>					
				</form>
			</aside>
	
		
		<div id="conteudo" style="">
			<ui:insert name="conteudo">
	
			</ui:insert>
		</div>
		
		
	
	<!-- 	<div id="footer"> -->
	<!-- 		<p>&copy;2015 - Restaurante</p> -->
	<!-- 	</div> -->
	</h:body>
</html>